<h2>Edit Recipe</h2>
<form method="post" action="/recipes/<%= @recipe.id %>">
    <input id="hidden" type="hidden" name="_method" value="patch">
    <p>name: <input type="text" name="name" placeholder="<%= @recipe.name %>"></p>
    <p>ingredients: <input type="text" name="ingredients" placeholder="<%= @recipe.ingredients %>"></p>
    <p>cooktime: <input type="text" name="cook_time" placeholder="<%= @recipe.cook_time %>"></p>
    <input type="submit" value="Submit">
</form>

